vti_encoding:SR|utf8-nl
vti_textextensions:SX|.txt.
vti_webservertype:SR|diskweb
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_timecreated:TR|02 Apr 2000 14:19:38 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_casesensitiveurls:IX|0
vti_navbuttonnextlabel:SR|Next
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_dependenciesood:IR|1
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_navbuttonhomelabel:SR|Home
vti_copytimestamp_ftp\://homepages.demon.co.uk/docroot/nwcr:TR|25 Jun 2009 21:01:06 -0000
vti_copytimestamp_ftp\://www.bearnet.demon.co.uk/docroot/nwcr:TR|12 Sep 2007 19:42:49 -0000
vti_copytimestamp_ftp\://72.1.216.118:TR|21 Feb 2012 18:29:32 -0000
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_insecureserverurl:SR|file://
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|Up
vti_defaultcharset:SR|windows-1252
vti_ignorekeyboard:IR|0
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_copytimestamp_ftp\://homepages.demon.co.uk/%2fdocroot/nwcr:TR|16 Jan 2012 20:05:22 -0000
vti_copytimestamp_ftp\://72.1.216.118/www:TR|21 Feb 2012 18:45:15 -0000
vti_copytimestamp_ftp\://ftp.nwcr.org.uk/www:TR|26 Dec 2014 15:55:33 -0000
